<!DOCTYPE html>
<html>

  <head>
    <title>Chainmail Investments</title>
    <link rel="stylesheet" href="./css/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"></script>
  </head>

  <body>
    <div class="container">
        <div class="header">
            <div class="navComp"><a href="/">Enter</a></div>
            <div class="navComp"><a href="/check">Winners</a></div>
            <div class="navComp"><a href="/about">About</a></div>
        </div>
      <img alt="logo" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNSAwSDIyLjVIMzBWNy41MTA3NEgyMi41SDE1SDcuNVYxNS4wMjJWMTUuNTAzNFYyMi40ODkzVjIyLjUzMjdWMzBIMFYyMi41MzI3VjIyLjQ4OTNWMTUuNTAzNFYxNS4wMjJWNy41MTA3NFYwSDcuNUgxNVpNMjIuNSAyMi40ODg4SDE1LjA0M1YxNS4wMjE1SDI5Ljk5NDFWMjIuNzUxNUMyOS45OTQxIDI0LjY3MjkgMjkuMjMyNCAyNi41MTYxIDI3Ljg3NyAyNy44NzVDMjYuNTE5NSAyOS4yMzQ0IDI0LjY3OTcgMjkuOTk4NSAyMi43NjE3IDI5Ljk5OTVIMjIuNVYyMi40ODg4WiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC4xIi8+Cjwvc3ZnPgo="
      />
      <h1>How does it work?</h1>
      <div class="divider"></div>
      <h2 id="position"><li>Point 1</li></h2>
      <h2 id="position"><li>Point 2. <b>NO REFUNDS!!!</b></li></h2>
      <h2 id="position"><li>Point 3. Enjoy our system!</li></h2>
      &nbsp;&nbsp; 
      {{!-- <input id="btn-about" type="button" onclick="location.href='https://drive.google.com/file/d/1RPw0mUTaSGcsN7tlMP56ZT232jEv2bhE/view?usp=sharing';" value="View Documentation"/> --}}
    </div>
    {{!-- <script src="./js/index.js"></script> --}}
    
  </body>

</html>
